
  


.container-application {
    max-width: 1200px;
    margin: 0 auto;
}
.application-area {
    background-color: #f3f3f3;
}


.application-area__list {
    display: flex;
    flex-wrap: wrap;
}
.application-area__item {
    display: flex;
    flex: 0 1 calc(33.333% - 10px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.application-area__item:hover {
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.11);
  }

.application-area__item:nth-child(3n+1) {
    margin-right: 15px;
}
.application-area__item:nth-child(3n+2) {
    margin-right: 15px;
}
.application-area__img-wrap {
   /* width: 50px; */
}
.application-area__img {
    max-width: 50px;
    max-height: 50px;
}
.application-area__content {
    margin-left: 20px;
}
.application-area__content-title {
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}
.application-area__links {
}
.application-area__link {
    display: block;
    font-size: 16px;
    margin-bottom: 12px;
    line-height: 1.2;
}
.application-area__read-more {
    border-bottom: 1px dashed rgb(158, 5, 5);
    padding-bottom: 5px;
}
.application-area__hidden-wrap {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}
.hidden-link {

}