.category {
}

.category__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.category__item {
    flex: 0 1 40%;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
}
.category__item-margin {
    margin-top: 150px;
}
.category__img-wrap {
}
.category__img {
    width: 100%;
    height: 100%;
}
.category__item-title {
    font-weight: 700;
    font-size: 26px;
    margin: 20px 0px 20px 0px;
}
.category__item-about {
    line-height: 1.5;
    font-size: 16px;
}

.category__item-btn {
    white-space: nowrap;
    width: min-content;
    align-self: center;
    display: inline-block;
    margin-top: 20px;
    color: #2A7BA8;
    font-weight: 700;
    font-size: 18px;
    padding: 15px 30px;
    border: 2px solid #2A7BA8;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.category__item-btn:hover {
    outline: none;
    color: white;
    background-color: #2A7BA8; 
    transform: scale(1.05);
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.2);
}
