.feedback {
}

.feedback__title {
    font-size: 40px;
    margin-bottom: 20px;
}
.feedback__form-wrap {
    display: flex;
    align-items: center;

}
.feedback__form {
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
.feedback__label {
    margin-bottom: 10px;
    font-size: 16px;
}
.feedback__input {
    padding: 10px 20px;
    display: block;
    background-color: #f3f3f3;
    width: 300px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 16px;
    transition: all ease 0.3s;
    border: 1px solid var(--border-color);
}
.feedback__input:focus {
    background-color: var(--company-color-focus);
    border: 1px solid rgb(184, 184, 184);
}
.feedback__textarea {
    width: 300px;
    background-color: #f3f3f3;
    display: block;
    border-radius: 5px;
    resize: none;
    font-size: 16px;
    transition: all ease 0.3s;
    border: 1px solid var(--border-color);
}
.feedback__textarea:focus {
    background-color: var(--company-color-focus);
    border: 1px solid rgb(184, 184, 184);
}
.feedback__wrap-img {
}
.feedback__img {
    height: 100%;
}

.feedback__btn {
    background-color: #fff;
    white-space: nowrap;
    align-self: center;
    margin-top: 20px;
    color: var(--company-color-dark);
    font-weight: 700;
    font-size: 16px;
    padding: 15px 30px;
    border: 2px solid var(--company-color-dark);
    border-radius: 5px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.feedback__btn:hover {
    outline: none;
    color: white;
    background-color: var(--company-color-dark); 
    transform: scale(1.05);
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.2);
}