
.footer {
    width: 100%;
    background-color: #f3f3f3;
    padding: 50px 0px;

}
.footer__links {
    display: flex;
    flex-direction: column;
}
.footer__link {
    font-size: 14px;
    margin-bottom: 15px;
}