
/* Темно-серый:
HEX: #5A5A5A */
body {
    font-family: 'Noto Sans', sans-serif;
    color: #1b1b1b;
}
a {
    color: #5A5A5A; /* Это пример темно-серого цвета. Вы можете заменить его на любой другой HEX-код или значение цвета. */
}

a:hover {
    color: #551A8B; /* Пример розового цвета для состояния наведения. */
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}

.margin-right-auto {
    margin-right: auto;
}