/* Темно-серый:
HEX: #5A5A5A */

body {
    font-family: 'Noto Sans', sans-serif;
    color: #1b1b1b;
}

a {
    color: #5A5A5A;
}

a:hover {
    color: #2A7BA8;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
}
.section-title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}

.margin-right-auto {
    margin-right: auto;
}

.section-padding {
    padding: 100px 0px;
}
.text-color {
    color: #ff795b;
}
.flex {
    display: flex;
}