/* Темно-серый:
HEX: #5A5A5A */

:root {
    --main-color: #2A7BA8;
    --background-color: #165576;
    --border-color: rgb(221, 221, 221);

    --company-color-dark: #006c69;
    --company-color-medium: #00a09c;
    --company-color-light: #a4e5da;
    --company-color-focus: #d1f3ed;
}

body {
    font-family: 'Noto Sans', sans-serif;
    color: #1b1b1b;
}

a {
    color: #5A5A5A;
}

a:hover {
    color: var(--company-color-dark);
}
.title-border {
    display: block;
    width: 150px;
    height: 7px;
    background-color: var(--company-color-dark);
    margin-bottom: 20px;
    border-radius: 5px;
}
.container-padding {
    padding: 0px 20px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
}
.section-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}
.relative {
    position: relative;
}
.margin-right-auto {
    margin-right: auto;
}

.section-padding {
    padding: 100px 0px;
}
.text-color {
    /* text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: var(--company-color-light); */
    color: rgb(214, 120, 13);
}
.flex {
    display: flex;
}