.swiper {
    width: 100vw;
    height: 700px;
}
.swiper-slide {
    height: 700px;
    min-width: 100vw;
    object-fit: cover;
}
.swiper-main-img {
    width: 100%;
    min-height: 700px;
}
.swiper-partners-img {
    width: 100%;
    min-height: 700px;
}