.swiper {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Safari */
    -khtml-user-select: none;    /* Konqueror HTML */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none; 
    width: 100%;
    height: 800px;
}
.slide-main-wrap {
    display: flex;
    align-items: center;
    height: 800px;
    
}
.swiper-slide {
    padding: 20px 30px;
}
.swiper-slide-main {
    color: white;
    background-image: url('/Img/main-slide-1-2000.jpg');
    background-size: cover;
    background-position: center;
}
.slide-main-content {
    display: flex;
    flex-direction: column;
}

.slide-main-link {
    align-self: center;
    display: inline-block; /* важно для применения анимации */
    margin-top: 20px;
    color: #2A7BA8;
    font-weight: 900;
    font-size: 18px;
    padding: 15px 30px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* чтобы убрать подчеркивание у ссылки */
    transition: all 0.3s ease;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.slide-main-link:hover {
    color: white;
    background-color: #2A7BA8; /* Светлый цвет при наведении */
    transform: scale(1.05);
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.2);
}
.slide-main-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 30px;
}
.slide-main-sub-title {
    font-size: 20px;
    line-height: 1.5;
}
.slide-main-sub-title-item {
    list-style-type: disc;
    margin-bottom: 10px;
}
.slide-main-img {
    height: 600px;
}
.swiper-partners-img {
    width: auto;
    height: 100%;
    min-width: 100%;
    object-fit: cover;
    object-position: center;
}

.swiper-button-prev, .swiper-button-next {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    z-index: 10;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.swiper-button-prev::after {
  border-right: 10px solid #000000;
  margin-right: 5px;
}

.swiper-button-next::after {
  border-left: 10px solid #000000;
  margin-left: 5px;
}
.swiper-button-prev:hover::after {
    border-right: 10px solid #2A7BA8;
}

.swiper-button-next:hover::after {
    border-left: 10px solid #2A7BA8;
}

.swiper-pagination-bullet-active {
    background-color: #2A7BA8; /* желаемый цвет для активного элемента */
}